.homepage {
	height: 100vh;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../img/pattern.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.homepage-text{
    position: absolute;
    top: 25%;}

.homepage-button{
    position: absolute;
    bottom: 8%;}

p {
    font-family: 'Raleway';
    font-size: 18px;
    font-weight:500;
}

.h1-home{
	font-size: 80px;
	font-family: 'Open Sans';
	font-weight: 600;
    padding-bottom: 10px;
}

.h3-home{
	font-size: 25px;
	font-family: 'Raleway';
	font-weight: 300;
    padding-bottom: 80px;
}

@media (max-width: 980px) {
    .h1-home{
     font-size: 60px;    
     padding-bottom:5px;
    }
    .h3-home{
        font-size: 18px;
        padding-bottom:20px;
    }
  }

.fa-github:hover {color: rgb(12,38,53);}

.fa-facebook:hover {color: rgb(59,89,152);}

.fa-instagram:hover {color: rgb(155,105,84);}

.fa-youtube:hover {color: rgb(179,18,23);}

.fa-stack:hover .fa-circle { color: white;}

.container-fluid {
    padding: 60px 50px;
    height: 100vh;
}

.bg-grey {
    background-color: #f6f6f6;
    
}
