/* Typed.js styles */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}




/* General styles */

p {
    font-family: 'Raleway';
    font-size: 1.5em;
    font-weight:400;
}

li {
    padding-bottom: 4px;
}

h1.section-heading{
    font-size: 4em;
	font-family: 'Raleway';
	font-weight: 300;
}

.container-fluid {
    padding: 60px;
}

img {
    width: 300px;
}

hr {
border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px;
    margin: 0px;
}


footer {
    text-align: center;
    background-color: #B2EBF2;
    padding: 10px;
}

@media (max-width: 767px) {
    p {
        font-size: 1.25em;
    }
    
    h1.section-heading {
        font-size: 3.5em;
    }
}

@media (max-width: 480px) {
  p {
      font-size: 1.1em;
    }
    
    h1.section-heading {
        font-size:3em;
    }
}



/* Homepage styles */

.homepage {
	height: 100vh;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../img/pattern.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

.homepage-content{
    position: absolute;
    top: 20%;}

.homepage-button{
    position: absolute;
    bottom: 8%;
    font-size: 1.15em;
}

h1.homepage-name{
	font-size: 7em;
	font-family: 'Open Sans';
	font-weight: 600;
    padding-bottom: 10px;
}

h1.homepage-typed{
	font-size: 2.5em;
	font-family: 'Raleway';
	font-weight: 300;
    padding-bottom: 80px;
}

#social-links li {
    font-size:3.5em;
    display:inline;
    margin-right: 40px;
    transition: all .2s ease-in-out;
}

#social-links a {
   color: #ffffff;
    
}

.fa-github {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.fa-github:hover {color: rgb(12,38,53);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.fa-facebook {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.fa-facebook:hover {color: rgb(59,89,152);
      -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.fa-instagram {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.fa-instagram:hover {color: rgb(155,105,84);
 -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.fa-linkedin {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.fa-linkedin:hover {color: rgb(0,119,181);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.fa-stack:hover .fa-circle { color: white;
}


@media (max-width: 767px) {
    .homepage-content{
    top: 15%;
    }
    
h1.homepage-name {
        font-size: 5.5em;
    }
    h1.homepage-typed {
        font-size: 2.2em;
        padding-bottom: 50px;
    }
    #social-links li {
        font-size: 3.2em;
        margin-right: 30px;
    }
    .homepage-button{
    font-size: 1.05em;
    }
}

@media (max-width: 480px) {
    .homepage-content{
    top: 10%;
    }
    
    h1.homepage-name {
        font-size: 5em;
    }
    h1.homepage-typed {
        font-size: 1.8em;
        padding-bottom: 50px;
    }
    #social-links li {
        font-size: 2.9em;
        margin-right: 25px;
    }
    .homepage-button{
    font-size: 0.95em;
}
}



/* About page styles */

.about-container{
    padding-top: 50px;
    background-color: #f6f6f6;
}

.about-information-box {
    margin-top: 8px;
    background-color: white;
    height: 60px;
    padding-top: 10px;
    border-radius: 8px;
    padding-left:8px;
}

p.about-text {
     line-height: 40px;
    padding-bottom: 30px;
}

@media (max-width: 767px) {
    p.about-text {
        line-height:35px;
    }
    
    .about-information-box {
        height:55px;
    }
}

@media (max-width: 480px) {
  p.about-text {line-height:30px;
    }
    .about-information-box {
        height:50px;
    }
    
}


/* Skills page styles */
.skills-container{
     padding-top: 50px;
    background-color: #ffffff;
}

.table-skills {
    background: #B2EBF2; 
    border-radius: 2px;
  
}

h2.skills-heading {
     font-size: 2em;
	font-family: 'Raleway';
	font-weight: 400;
}

@media (max-width: 767px) {
    h2.skills-heading {
        font-size: 1.8em
    }
}

@media (max-width: 480px) {
 h2.skills-heading {
        font-size: 1.6em
    }
}

/* Education page styles */

.education-container{
   background-color: #f6f6f6;
}

.education-lable-date {
    padding-top: 7px;
    background-color: #00BCD4;
    border-radius: 2px;
    
}

.education-lable-status {
    background-color: #B2EBF2;
    padding-top:7px;
    padding-bottom:1px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    
}

p.education-lable {
    color: #ffffff;
    font-family:'Open Sans';
    font-size: 1.3em;
}

h1.education-heading {
	font-size: 2em;
	font-family: 'Raleway';
    font-weight: 600;  
    line-height: 28px;
}

h3.education-subheading {
	font-size: 2em;
	font-family: 'Raleway';
    font-weight: 400; 
    color: #ffffff;
}

.education-grid {
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: white; 
    border-radius: 10px;
    color: #00BCD4;
    border-style: solid;
    border-width: 1px;
}

.education-grid-header {
    background-color: #00BCD4;
    font-family: 'Raleway';
    color: #4a4a4a;
    padding:10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.education-grid-content {
    color: #888b90;
    text-align: left;
    line-height: 30px;
    font-size: 1.3em;
    padding-bottom: 6px;
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 767px) {
   p.education-lable {
    font-size: 1.15em;
}

h1.education-heading {
	font-size: 1.7em;
}

h3.education-subheading {
	font-size: 1.7em;
}  

.education-grid-content {
    font-size: 1.2em;
}

@media (max-width: 480px) {
  p.education-lable {
    font-size: 1.1em;
}

h1.education-heading {
	font-size: 1.5em;
}

h3.education-subheading {
	font-size: 1.5em;
}  
    
.education-grid-content {
    font-size: 1.1em;
}
    
}


