.jumbotron { 
    background-color: #1abc9c; /* Orange */
    color: #ffffff;
    padding: 100px 25px;
    height: 100vh;
}

.btn-circle {
 width: 50px;
  height: 50px;
    padding-top: 15px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.container-fluid {
    padding: 60px 50px;
    height: 100vh;
}

.bg-grey {
    background-color: #f6f6f6;
    
}

.glyphicon-about {
    font-size: 25px;
    padding-right: 10px;
}

.glyphicon-jumpscroll {
    font-size: 30px;
}

.thumbnail {
      padding: 200px 25px;
}